mixin header
    header.header
        a.header__logo( href="#")
        label.header__burger( for="menu-toggle")
        nav.mobile-menu
            ul.media-menu
                li: a(href="#") ТВ
                li: a(href="#") Трансляции
                li: a(href="#") Видео
            ul.sport-menu
                li: a(href="#") Футбол
                li: a(href="#") Баскетбол
                li: a(href="#") Единоборства
                li: a(href="#") ЧЕ-2024
            ul.language-menu
                li РУС
                li КАЗ




    